<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="navbar left">  <!--pokemon menu-->
       <li class="nav-item">
         <a class="nav-item_link" routerLink="/pokemon" routerLinkActive="active">
            <i class="material-icons">view_list</i>
                <div class="nav-item_logo">
                   <img src="assets/pokeball.jpg" alt="Pokemon logo" width="100">
                 </div>
         </a>
       </li>
   </ul>

   <ul class="navbar right"> <!--trainer name -->
      <li class="nav-item">
        <a class="nav-item_link" routerLink="/trainer" routerLinkActive="active">
           <i class="material-icons">account_circle</i>
             {{trainerName}}
        </a>
      </li>
      <li *ngIf="!(trainerName)" class = "nav-item">  <!--if trainer is not registered, then register the trianer-->
         <a class="nav-item_link" routerLink="/register" routerLinkActive="active">Register</a>
      </li>
  </ul>

  </div>
   
   

</nav>